@import '../../styles/utils';

.order-details {
  max-width: 1136px;
  margin: 40px auto;

  &__title {
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 28px;
  }

  &__container {
    display: flex;
    gap: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
  }

  &__sub-title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__text {
    line-height: 140%;
  }

  &__link {
    margin-top: 10px;
    width: 200px;
    text-align: center;
    background-color: $main-color;
    padding: 9px 16px;
    color: #fff;
    transition: all .3s;
    border: 1px solid transparent;
    border-radius: 5px;

    &:hover {
      border: 1px solid $main-color;
      background-color: #fff;
      color: $main-color;
    }
  }
}