@import "../../styles/utils";
@import "../../styles/buttons.scss";

.card {
  width: 272px;
  padding: 32px 24px 24px;
  box-shadow: none;
  position: relative;
  border: 1px solid rgba($color: $main-color, $alpha: .3);
  border-radius: 10px;

  &__label {
    height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    line-height: 24px;
    position: absolute;
    display: inline-block;
    top: 8px;
    background-color: rgb(255, 169, 0);
    border-radius: 20px; 
    color: #fff;
    text-transform: uppercase;
  }
  &__img {
    display: block;
    width: 208px;
    height: 208px;
    margin: 0 auto 24px;
    object-fit: contain;
  }

  &__title {
    margin: 0 0 15px;
    width: 100%;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;

  }

  &__price {
    display: flex;
    font-family: "Montserrat", sans-serif;
    gap: 8px;
    margin-bottom: 18px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }

  &__price-discount {
    text-decoration-line: line-through;
    color: #777777;
  }

  &__buttons {
    display: flex;
  }
}
