@import "../../styles/utils";

.card {
  width: 272px;
  padding: 32px 24px 24px;

  border: 1px solid rgba($color: $main-color, $alpha: .3);
  border-radius: 10px;

  &__img {
    display: block;
    width: 208px;
    height: 208px;
    margin: 0 auto 24px;
    object-fit: contain;
  }

  &__title {
    margin: 0 0 15px;
    width: 100%;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;

  }

  &__price {
    display: flex;
    font-family: "Montserrat", sans-serif;
    gap: 8px;
    margin-bottom: 18px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }

  &__price-discount {
    text-decoration-line: line-through;
    color: #777777;
  }

  &__buttons {
    display: flex;
  }

  .add-to-cart {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    background-color: $main-color;
    padding-block: 11px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    transition: all 0.3s;
    border: 1px solid $main-color;
    border-radius: 20px;
  }

  .add-to-cart:hover {
    cursor: pointer;
    background-color: #fff;
    color: $main-color;
  }

  .add-to-cart--active {
    background-color: #fff;
    color: #27ae60;
  }
}
