.add-to-cart {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: $main-color;
  padding-block: 11px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  transition: all 0.3s;
  border: 1px solid $main-color;
  border-radius: 20px;

  &:hover {
    cursor: pointer;
    background-color: rgba($main-color, .7);
  }
  
  &--active {
    background-color: #fff;
    color: $main-color;
  
    &:hover {
      background-color: rgba(#fff, .7);
      color: $main-color;
    }
  }

  &--disabled {
    background-color: $light-gray;
    color: #363636;
    border: 1px solid transparent;

    &:hover {
      background-color: $light-gray;
      color: #363636;
      border: 1px solid transparent;
      cursor: not-allowed;
    }
  }
}

