@import '../../styles/utils';

.widget {
  background-color: $light-gray;
  padding: 20px;

  &__title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  &__category-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .widget__category-item {
      padding-block: 5px;
      cursor: pointer;
      position: relative;

      &--has-subcategories::after {
        content: url('../../images//icons/list.svg');
        position: absolute;
        margin-right: 5px;
        font-size: 16px;
        font-weight: 700;
        top: 0;
        right: 0;
        vertical-align: middle;
      }

      &:hover {
        background-color: #f5f5f5;
      }

      &__link {
        transition: all .3s;

        &--active {
          color: $main-color;
        }

        &:hover {
          color: $main-color;
        }
      }

      &__subcategories {
        list-style: none;
        margin: 3px 0 0 0;
        padding: 0;


        &-enter {
          transform: scaleY(0);
          opacity: 0;
          max-height: 0;
        }
      
        &-enter-active {
          opacity: 1;
          max-height: 78px;
          transform: scaleY(1);
          transition: all .3s;
        }
      
        &-exit {
          opacity: 1;
          transform: scaleY(1);
          max-height: 78px;
        }
      
        &-exit-active {
          transform: scaleY(0);
          opacity: 0;
          max-height: 0;
          transition: all .3s;
        }

        .widget__category-item {
          padding-left: 20px;
        }
      }
    }
  }
}