@import '../../styles//utils';

.order-summary {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid $light-gray;
  padding: 20px;
  &__title {
    font-size: 21px;
    font-weight: 700;
  }

  &__content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__total-block {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    font-weight: 700;
    font-size: 21px;
  }
}