.about {
  margin-top: 104px;

  &__content {
    margin-top: 24px;
    display: flex;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__image {
    width: 100%;
  }

  &__text {
    line-height: 125%;
  }
}