.banner {

  &__container {
    width: 100%;
    height: 500px;
    background-image: url('../../images/banner-background.jpg'), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 58px;
  }

  &__text {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
  }
}